{{define "title"}}About{{end}}

{{define "main"}}
    <main class="mt-8">
        <h1>
            About
        </h1>
        <p>
            Racket Connections is an online board for OSU students interested in playing court sports and making friends.
        </p>
        <h2>
            Software
        </h2>
        <p>
            Racket Connections is built on open source software. The source code can be found on <a href="https://github.com/micahco/racket-connections">GitHub</a>.
        </p>
    </main>
{{end}}

{{define "scripts"}}{{end}}
