{{define "title"}}About{{end}}

{{define "main"}}
    <main class="mt-8">
        <h1>
            About
        </h1>
        <p>
            Racket Connections is an online board for OSU students interested in playing court sports and making friends.
        </p>
        <h2>
            Software
        </h2>
        <p>
            Racket Connections is built with <a href="https://go.dev/">Go</a> along with the following open source software:
        </p>
        <ul class="list-disc ml-8 mb-4">
            <li><a href="https://www.postgresql.org/">PostgresSQL</a> - database</li>
            <li><a href="https://github.com/jackc/pgx">pgx</a> - pure Go driver and toolkit for PostgreSQL</li>
            <li><a href="https://github.com/go-gomail/gomail">Gomail</a> - SMTP interface</li>
            <li><a href="https://github.com/go-chi/chi">chi</a> - router</li>
            <li><a href="https://github.com/alexedwards/scs">scs</a> - session management</li>
            <li><a href="https://github.com/justinas/nosurf">nosurf</a> - CSRF protection middleware</li>
            <li><a href="https://tailwindcss.com/">Tailwind CSS</a> - stylesheets</li>
        </ul>
        <p>
            Hosted on <a href="https://www.digitalocean.com/">DigitalOcean</a> with <a href="https://github.com/caddyserver/caddy">Caddy</a>. SMTP testing and delivery with <a href="https://mailtrap.io/">Mailtrap</a>.
        </p>
        <p>
            Much of the <a href="https://github.com/micahco/racket-connections">source code</a> was built while following along with Alex Edwards in his book <a href="https://lets-go.alexedwards.net/">Let's Go</a>.
        </p>
        <p>
            No JavaScript is required to use this site, but there are a few pages that include some <a href="https://github.com/micahco/racket-connections/tree/main/ui/static/scripts">scripts</a>.
        </p>
    </main>
{{end}}

{{define "scripts"}}{{end}}
