{{define "title"}}New Password{{end}}

{{define "main"}}
    <h1>
        Update Password
    </h1>

    <form action="/auth/reset/update" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

        {{if not .Data.HasSessionEmail}}
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" autocomplete="username" required>
            </div>
        {{end}}

        <div>
            <label for="password">New Password</label>
            <input type="password" name="password" autocomplete="current-password" required>
        </div>

        <button>
            Submit
        </button>
    </form>
{{end}}

{{define "scripts"}}{{end}}
