{{define "title"}}Reset Password{{end}}

{{define "main"}}
    {{template "header" .}}
    <article class="mt-8">
        <h1 class="text-xl font-bold">
            Reset Password
        </h1>
        <p class="my-4">
            Enter your login email to receive a link to reset your password.
        </p>
        <form action="/auth/reset" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div class="flex flex-col gap-6 max-w-sm w-full">
                <div class="flex flex-col gap-2">
                    <label class="font-bold" for="email">
                        Email
                    </label>
                    <input class="w-full p-2 appearance-none border rounded dark:bg-stone-800" type="email" name="email" autocomplete="username" placeholder="onid@oregonstate.edu" required>
                </div>
                <button class="w-full sm:w-24 py-2 rounded font-bold text-white bg-beaver-orange hover:bg-stone-700">
                    Reset
                </button>
            </div>
        </form>
    </article>
{{end}}

{{define "scripts"}}{{end}}
    