{{define "title"}}Reset Password{{end}}

{{define "main"}}
    <h1>
        Reset Password
    </h1>

    <p>
        Enter the email address associated with your account. A link to reset your password will be sent to your login email.
    </p>
    
    <form action="/auth/reset" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" autocomplete="username" required>
        </div>

        <button>
            Reset
        </button>
    </form>
{{end}}

{{define "scripts"}}{{end}}
    