{{define "title"}}Racket Connections{{end}}

{{define "main"}}
    <h1>
        Racket Connections
    </h1>

    <p>
        An online board for OSU students interested in playing court sports.
    </p>

    <h2>
        Login
    </h2>

    <form action="/auth/login" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" autocomplete="username" required>
        </div>
        
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" autocomplete="current-password" required>
        </div>
        
        <button>
            Login
        </button>

        <a href="/auth/reset">Forgot password?</a>
    </form>

    <h2>
        Sign Up
    </h2>

    <form action="/auth/signup" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" autocomplete="username" required>
        </div>

        <button>
            Sign Up
        </button>
    </form>
{{end}}

{{define "scripts"}}{{end}}
    