{{define "title"}}Welcome{{end}}

{{define "main"}}
    <main class="mt-8">
        <h1>
            Welcome
        </h1>
        <p>
            Racket Connections is an online board for OSU students interested in playing court sports and making friends.
        </p>
        <div class="flex flex-wrap gap-16 mt-12">
            <section class="max-w-sm w-full">
                <h2 class="text-xl font-bold">
                    Existing user:
                </h2>
                <form action="/auth/login" method="POST">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="flex flex-col gap-4 mt-6">
                        <div class="md:flex items-center gap-2">
                            <div class="md:w-1/4 md:text-right">
                                <label for="email">
                                    Email
                                </label>
                            </div>
                            <div class="md:w-3/4">
                                <input class="w-full p-2 appearance-none border rounded dark:bg-stone-800" type="email" name="email" autocomplete="username" required>
                            </div>
                        </div>
                        <div class="md:flex items-center gap-2">
                            <div class="md:w-1/4 md:text-right">
                                <label for="password">
                                    Password
                                </label>
                            </div>
                            <div class="md:w-3/4">
                                <input class="w-full p-2 appearance-none border rounded dark:bg-stone-800" type="password" name="password" autocomplete="current-password" required>
                            </div>
                        </div>
                        <div class="md:flex gap-2">
                            <div class="md:w-1/4"></div>
                            <div class="md:w-3/4 flex items-center gap-4">
                                <button class="w-28 p-2 text-sm border border-1 rounded bg-stone-200 hover:bg-stone-300 dark:bg-stone-800 dark:hover:bg-stone-700">
                                    Login
                                </button>
                                <div>
                                    <a class="text-sm" href="/auth/reset">
                                        Forgot password?
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>    
            </section>
            <section class="max-w-sm w-full">
                <h2 class="text-xl font-bold">
                    New user:
                </h2>
                <form action="/auth/signup" method="POST">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="flex flex-col gap-4 mt-6">
                        <div class="md:flex items-center gap-2">
                            <div class="md:w-1/4 md:text-right">
                                <label for="email">
                                    Email
                                </label>
                            </div>
                            <div class="md:w-3/4">
                                <input class="w-full p-2 appearance-none border rounded dark:bg-stone-800" type="email" name="email" autocomplete="username" required>
                            </div>
                        </div>
                        <div class="md:flex gap-2">
                            <div class="md:w-1/4"></div>
                            <div class="md:w-3/4 flex items-center gap-4">
                                <button class="w-28 p-2 text-sm border border-1 rounded bg-stone-200 hover:bg-stone-300 dark:bg-stone-800 dark:hover:bg-stone-700">
                                    Sign Up
                                </button>
                            </div>
                        </div>
                    </div>
                </form>   
            </section>
        </div>
    </main>
{{end}}

{{define "scripts"}}{{end}}
    