{{define "title"}}Post Details - {{.Data.Post.UserName}}{{end}}

{{define "main"}}
    <h1>
        Post Details
    </h1>

    <table>
        <tbody>
            <tr>
                <th scope="row">
                    Name
                </th>
                <td>
                    {{.Data.Post.UserName}}
                </td>
            </tr>

            <tr>
                <th scope="row">
                    Sport
                </th>
                <td>
                    {{.Data.Post.Sport}}
                </td>
            </tr>

            <tr>
                <th scope="row">
                    Skill
                </th>
                <td>
                    {{.Data.Post.SkillLevel}}
                </td>
            </tr>

            <tr>
                <th scope="row">
                    Created
                </th>
                <td>
                    {{date .Data.Post.CreatedAt}}
                </td>
            </tr>

            {{with .Data.Post.Comment}}
                <tr>
                    <th scope="row">
                        Comment
                    </th>
                    <td>
                        {{.}}
                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>
{{end}}

{{define "scripts"}}{{end}}
