{{define "title"}}New Post{{end}}

{{define "main"}}
    <main class="mt-8">
        <h1>
            New Post
        </h1>
        <section class="max-w-sm w-full pt-4">
            <form action="/posts/new" method="POST">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="flex flex-col gap-y-8">
                    <div class="flex flex-wrap gap-6">
                        <div class="flex items-center gap-2 w-full sm:w-fit">
                            <label class="text-right" for="sport">
                                Sport:
                            </label>
                            <select class="p-2 text-sm border rounded bg-stone-100 border-stone-400 sm:hover:border-stone-700 dark:bg-stone-800 dark:sm:hover:border-stone-500" id="contact-method" id="sport" name="sport">
                                {{range .Data.Sports}}
                                    <option value="{{.ID}}">{{capitalize .Name}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="flex items-center gap-2 w-full sm:w-fit">
                            <label class="text-right" for="skill-level">
                                Skill Level:
                            </label>
                            <select class="p-2 text-sm border rounded bg-stone-100 border-stone-400 sm:hover:border-stone-700 dark:bg-stone-800 dark:sm:hover:border-stone-500" id="contact-method" id="skill-level" name="skill-level">
                                {{range .Data.Skills}}
                                    <option value="{{.ID}}">{{capitalize .Name}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="flex flex-col gap-4">
                        <label class="flex gap-4" for="skill-level">
                            <span>
                                Comment
                            </span>
                            <span class="italic text-stone-600">
                                Optional
                            </span>
                        </label>
                        <textarea class="p-2 border rounded dark:bg-stone-800" name="comment" id="comment" placeholder="Challenge me!" rows="4" cols="33"></textarea>
                    </div>
                    <button class="w-full sm:w-24 py-2 rounded font-bold text-white bg-beaver-orange sm:hover:bg-stone-700">
                        Create
                    </button>
                </div>
            </form>
        </section>
    </main>
{{end}}

{{define "scripts"}}{{end}}
