{{define "title"}}Posts{{end}}

{{define "main"}}   
    <article>
        <h3>Filters</h3>
        <form action="" method="GET">
            <fieldset>
                <legend>
                    Sports
                </legend>

                {{range $sport := .Data.Sports}}
                    <div>
                        <label for="{{$sport.Name}}">{{$sport.Name}}</label>
                        <input type="checkbox" name="sport" value="{{$sport.Name}}" id="{{$sport.Name}}"
                            {{range $.Data.Query.Sport}}
                                {{if eq . $sport.Name}}
                                    checked
                                {{end}}
                            {{end}}
                        />
                    </div>
                {{end}}
            </fieldset>

            <fieldset>
                <legend>
                    Availability
                </legend>

                <table id="timetable">
                    <thead>
                        <tr>
                            <th scope="col">
                            </th>
                            {{range .Data.Times}}
                                <th scope="col">
                                    <button type="button">
                                        {{.Name}}
                                    </button>
                                </th>
                            {{end}}
                        </tr>
                    </thead>
                    <tbody>
                        {{range $day := .Data.Days}}
                            <tr>
                                <th scope="row">
                                    <button type="button">
                                        {{$day.Abbrev}}
                                    </button>
                                </th>
                                {{range $time := $.Data.Times}}
                                    <td>
                                        <input type="checkbox" name="{{$day.Abbrev}}-{{$time.Abbrev}}"
                                            {{range $.Data.Query.Timeslot}}
                                                {{if and (eq .Day $day.Abbrev) (eq .Time $time.Abbrev)}}
                                                    checked
                                                {{end}}
                                            {{end}}
                                        />
                                    </td>
                                {{end}}
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </fieldset>

            <a href="?">
                Clear All
            </a>

            <button type="submit">
                Apply
            </button>
        </form>
    </article>

    <section>
        <h1>
            Posts
        </h1>

        <a href="/posts/new">New post</a>


        <ul>
            {{range .Data.Posts}}
                <li>
                    <span>
                        {{.Sport}}
                    </span>

                    <span>
                        {{.UserName}}
                    </span>

                    <span>
                        {{.SkillLevel}}
                    </span>
                    
                    <span>
                        {{since .CreatedAt}}
                    </span>

                    <a href="/posts/{{.ID}}/{{queryEscape .UserName}}">
                        >>
                    </a>
                </li>
            {{end}}
        </ul>
    </section>
{{end}}

{{define "scripts"}}
<script src="/static/scripts/timetable.js"></script>
{{end}}
