{{define "title"}}New Post{{end}}

{{define "main"}}
    {{template "header" .}}
    <article class="my-12">
        <h1 class="text-xl font-bold mb-8">
            New Post
        </h1>
        <section class="max-w-sm w-full">
            <form action="/posts/new" method="POST">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="flex flex-col gap-y-8">
                    <div class="flex flex-wrap justify-between gap-8">
                        <div class="flex items-center gap-2 w-full sm:w-fit">
                            <label class="w-1/2 sm:w-fit text-right" for="sport">
                                Sport:
                            </label>
                            <select class="w-1/2 sm:w-fit p-2 text-sm border rounded bg-stone-100 border-stone-400 hover:border-stone-700 dark:bg-stone-800 dark:hover:border-stone-500" id="contact-method" id="sport" name="sport">
                                {{range .Data.Sports}}
                                    <option value="{{.ID}}">{{capitalize .Name}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="flex items-center gap-2 w-full sm:w-fit">
                            <label class="w-1/2 sm:w-fit text-right" for="skill-level">
                                Skill Level:
                            </label>
                            <select class="w-1/2 sm:w-fit p-2 text-sm border rounded bg-stone-100 border-stone-400 hover:border-stone-700 dark:bg-stone-800 dark:hover:border-stone-500" id="skill-level" name="skill-level">
                                {{range .Data.Skills}}
                                    <option value="{{.ID}}">{{capitalize .Name}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label class="flex gap-4" for="skill-level">
                            <span>
                                Comment
                            </span>
                            <span class="italic text-stone-600">
                                Optional
                            </span>
                        </label>
                        <textarea class="p-2 border rounded dark:bg-stone-800" name="comment" id="comment" placeholder="Challenge me!" rows="5" cols="33"></textarea>
                    </div>
                    <button class="w-full sm:w-32 py-2 rounded font-bold text-white bg-beaver-orange hover:bg-stone-700">
                        Create Post
                    </button>
                </div>
            </form>
        </section>
    </article>
    {{template "footer" .}}
{{end}}

{{define "scripts"}}{{end}}
