{{define "title"}}Post Details - {{.Data.Post.UserName}}{{end}}

{{define "main"}}
    <main class="flex flex-col gap-8 max-w-sm w-full mt-8">
        <header class="flex justify-between items-end gap-x-16 gap-y-4">
            <h1 class="mb-0">
                Post Details
            </h1>
            {{if .Data.IsOwner}}
                <a class="text-red-600" href="/posts/{{.Data.Post.ID}}/delete">
                    Delete Post
                </a>
            {{end}}
        </header>
        <section>
            <h2 class="font-bold">
                {{capitalize .Data.Post.UserName}}
            </h2>
            <div class="flex gap-8">
                <div class="flex flex-col">
                    <div class="text-stone-600">
                        Sport
                    </div>
                    <div>
                        {{capitalize .Data.Post.Sport}}
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="text-stone-600">
                        Skill
                    </div>
                    <div>
                        {{capitalize .Data.Post.SkillLevel}}
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="text-stone-600">
                        Date
                    </div>
                    <div>
                        {{dateFormat .Data.Post.CreatedAt}}
                    </div>
                </div>
            </div>
        </section>
        {{with .Data.Post.Comment}}
                <div class="flex flex-col gap-2">
                    <span class="w-16 text-stone-600">
                        Comment
                    </span>
                    <p class="p-2 border rounded">
                        {{.}}
                    </p>
                </div>
            {{end}}
        {{if .Data.Timeslots}}
            <div>
                <span class="pb-2 text-stone-600">
                    Availability
                </span>
                <table class="font-mono text-xs">
                    <thead>
                        <tr>
                            <td></td>
                            {{range .Data.Days}}
                                <th class="p-1 font-normal" scope="col">
                                    <span class="p-1" title="{{capitalize .Name}}">
                                        {{capitalize .Abbrev}}
                                    </span>
                                </th>
                            {{end}}
                        </tr>
                    </thead>
                    <tbody>
                        {{range $time := .Data.Times}}
                            <tr>
                                <th class="font-normal p-1" scope="row">
                                    <span class="p-1" title="{{capitalize .Name}}">
                                        {{capitalize $time.Abbrev}}
                                    </span>
                                </th>
                                {{range $day := $.Data.Days}}
                                    <td class="text-center border border-stone-600" title="{{capitalize $day.Name}} {{$time.Name}}">
                                        {{range $timeslot := $.Data.Timeslots}}
                                            {{if and (eq $timeslot.Day.ID $day.ID) (eq $timeslot.Time.ID $time.ID)}}
                                                <svg class="block mx-auto w-4 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="size-4">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                                                </svg>
                                            {{end}}
                                        {{end}}
                                    </td>
                                {{end}}
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        {{end}}
        <div>
            <dialog class="w-full sm:max-w-sm rounded shadow-xl bg-transparent backdrop:bg-black/50">
                <div class="p-6 bg-white dark:bg-stone-800 dark:text-stone-300">
                    <h2 class="text-xl font-bold mb-6 pr-4">
                        Contact Information
                    </h2>
                    <ul>
                        {{range .Data.Contacts}}
                            <li class="flex flex-wrap gap-2">
                                <span>
                                    {{capitalize .Method}}:
                                </span>
                                <span>
                                    {{if eq .Method "email"}}
                                        <a href="mailto:{{.Value}}">{{.Value}}</a>
                                    {{else if eq .Method "phone"}}
                                        <a href="tel:{{stripPhone .Value}}">{{.Value}}</a>
                                    {{else}}
                                        {{.Value}}
                                    {{end}}
                                </span>
                            </li>
                        {{end}}
                    </ul>
                    <button class="absolute top-2 right-2 p-2 text-stone-500 hover:underline dark:text-stone-300" autofocus>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>                              
                    </button>
                </div>
            </dialog>
            <button class="px-4 py-2 text-sm rounded border border-1 bg-stone-200 hover:bg-stone-300 dark:bg-stone-800 dark:hover:bg-stone-700">
                Show Contact Information
            </button>
        </div>
    </main>
{{end}}

{{define "scripts"}}
<script src="/static/scripts/dialog.js"></script>
{{end}}
