{{define "title"}}{{.Data.Post.UserName}} - {{capitalize .Data.Post.Sport}}{{end}}

{{define "main"}}
    <main class="flex flex-wrap gap-8 mt-8">
        <div class="flex flex-col gap-4 max-w-xs w-full">
            <header class="mb-2">
                <h1 class="mb-0">
                    Post Details
                </h1>
                {{if .Data.IsOwner}}
                    <nav class="mt-4">
                        <a class="text-red-600" href="/posts/{{.Data.Post.ID}}/delete">
                            Delete Post
                        </a>
                    </nav>
                {{end}}
            </header>
            <table class="table-fixed border-separate border-spacing-y-2">
                <tbody>
                    <tr>
                        <th scope="row" class="w-16 font-normal text-left text-stone-600">
                            Name
                        </th>
                        <td class="text-wrap">
                            {{capitalize .Data.Post.UserName}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="w-16 font-normal text-left text-stone-600">
                            Sport
                        </th>
                        <td>
                            {{capitalize .Data.Post.Sport}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="w-16 font-normal text-left text-stone-600">
                            Skill
                        </th>
                        <td>
                            {{capitalize .Data.Post.SkillLevelName}} ({{.Data.Post.SkillLevelID}})
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="w-16 font-normal text-left text-stone-600">
                            Date
                        </th>
                        <td>
                            <time datetime="{{computerDate .Data.Post.CreatedAt}}">
                                {{humanDate .Data.Post.CreatedAt}}
                            </time>
                        </td>
                    </tr>
                    {{with .Data.Post.Comment}}
                        <tr>
                            <th colspan="2" class="text-stone-600">
                                Comment
                            </th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {{.}}
                            </td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <div class="flex flex-col gap-8">
            <section>
                <h2>
                    Contact
                </h2>
                <ul class="flex flex-col gap-2 mt-2">
                    {{range .Data.Contacts}}
                        <li class="flex flex-wrap gap-2">
                            <span>
                                {{capitalize .Method}}:
                            </span>
                            <span>
                                {{if eq .Method "email"}}
                                    <a href="mailto:{{.Value}}">{{.Value}}</a>
                                {{else if eq .Method "phone"}}
                                    <a href="tel:{{stripPhone .Value}}">{{.Value}}</a>
                                {{else}}
                                    {{.Value}}
                                {{end}}
                            </span>
                        </li>
                    {{end}}
                </ul>
            </section>
            {{if .Data.Timeslots}}
                <section>
                    <h2>
                        Availability
                    </h2>
                    <table class="font-mono text-xs">
                        <thead>
                            <tr>
                                <td></td>
                                {{range .Data.Days}}
                                    <th class="p-1 font-normal" scope="col">
                                        <span class="p-1" title="{{capitalize .Name}}">
                                            {{capitalize .Abbrev}}
                                        </span>
                                    </th>
                                {{end}}
                            </tr>
                        </thead>
                        <tbody>
                            {{range $time := .Data.Times}}
                                <tr>
                                    <th class="font-normal p-1" scope="row">
                                        <span class="p-1" title="{{capitalize .Name}}">
                                            {{capitalize $time.Abbrev}}
                                        </span>
                                    </th>
                                    {{range $day := $.Data.Days}}
                                        <td class="text-center border border-stone-600" title="{{capitalize $day.Name}} {{$time.Name}}">
                                            {{range $timeslot := $.Data.Timeslots}}
                                                {{if and (eq $timeslot.Day.ID $day.ID) (eq $timeslot.Time.ID $time.ID)}}
                                                    <svg class="block mx-auto w-4 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="size-4">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                                                    </svg>
                                                {{end}}
                                            {{end}}
                                        </td>
                                    {{end}}
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                </section>
            {{end}}
        </div>
    </main>
{{end}}

{{define "scripts"}}{{end}}
