{{define "title"}}Delete Post{{end}}

{{define "main"}}
    <main class="mt-8">
        <h1>
            Delete Post
        </h1>
        {{template "post-table" .}}
        <p class="mt-4 mb-2 italic">
            Are you sure you want to delete this post?
        </p>
        <form action="/posts/{{.Data.Post.ID}}/delete" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div class="flex gap-8">
                <button class="rounded sm:hover:ring-2 text-red-600 ring-red-600">
                    Confirm 
                </button>
                <a href="/posts/{{.Data.Post.ID}}">Cancel</a>
            </div>
        </form>
    </main>
{{end}}

{{define "scripts"}}{{end}}
