{{define "title"}}Delete Post{{end}}

{{define "main"}}
    <main class="mt-8">
        <h1>
            Delete Post
        </h1>
        <table class="table-fixed border-separate border-spacing-y-2">
            <tbody>
                <tr>
                    <th scope="row" class="w-16 font-normal text-left text-stone-600">
                        Name
                    </th>
                    <td class="text-wrap">
                        {{capitalize .Data.Post.UserName}}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="w-16 font-normal text-left text-stone-600">
                        Sport
                    </th>
                    <td>
                        {{capitalize .Data.Post.Sport}}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="w-16 font-normal text-left text-stone-600">
                        Skill
                    </th>
                    <td>
                        {{capitalize .Data.Post.SkillLevel}}
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="w-16 font-normal text-left text-stone-600">
                        Date
                    </th>
                    <td>
                        <time datetime="{{computerDate .Data.Post.CreatedAt}}">
                            {{humanDate .Data.Post.CreatedAt}}
                        </time>
                    </td>
                </tr>
                {{with .Data.Post.Comment}}
                    <tr>
                        <th colspan="2" class="text-stone-600">
                            Comment
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{.}}
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
        <p class="mt-4 mb-2 italic">
            Are you sure you want to delete this post?
        </p>
        <form action="/posts/{{.Data.Post.ID}}/delete" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <div class="flex gap-8">
                <button class="rounded sm:hover:ring-2 text-red-600 ring-red-600">
                    Confirm 
                </button>
                <a href="/posts/{{.Data.Post.ID}}">Cancel</a>
            </div>
        </form>
    </main>
{{end}}

{{define "scripts"}}{{end}}
