{{define "title"}}Profile{{end}}

{{define "main"}}
    <main class="mt-8">
        <h1>
            Profile
        </h1>
        <div class="flex flex-wrap gap-8">
            <div class="flex flex-col gap-8 max-w-xs w-full">
                <section>
                    <header class="flex items-center gap-2 mb-4">
                        <h2 class="mb-0">
                            Contact Methods
                        </h2>
                        <a title="Edit contacts" href="/profile/contacts">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                        </a>
                    </header>
                    <table>
                        <tbody>
                            {{range .Data.Contacts}}
                                <tr>
                                    <td class="pr-4 text-stone-600">
                                        {{capitalize .Method}}
                                    </td>
                                    <td class="">
                                        {{.Value}}
                                    </td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                </section>
                <section>
                    <header class="flex items-center gap-2 mb-4">
                        <h2 class="mb-0">
                            Availability
                        </h2>
                        <a title="Edit availability" href="/profile/availability">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                        </a>
                    </header>
                    <table class="font-mono text-xs">
                        <thead>
                            <tr>
                                <td></td>
                                {{range .Data.Days}}
                                    <th class="p-1 font-normal" scope="col">
                                        <span class="p-1" title="{{capitalize .Name}}">
                                            {{capitalize .Abbrev}}
                                        </span>
                                    </th>
                                {{end}}
                            </tr>
                        </thead>
                        <tbody>
                            {{range $time := .Data.Times}}
                                <tr>
                                    <th class="font-normal p-1" scope="row">
                                        <span class="p-1" title="{{capitalize .Name}}">
                                            {{capitalize $time.Abbrev}}
                                        </span>
                                    </th>
                                    {{range $day := $.Data.Days}}
                                        <td class="text-center border border-stone-600" title="{{capitalize $day.Name}} {{$time.Name}}">
                                            {{range $timeslot := $.Data.Timeslots}}
                                                {{if and (eq $timeslot.Day.ID $day.ID) (eq $timeslot.Time.ID $time.ID)}}
                                                    <svg class="block mx-auto w-4 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="size-4">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                                                    </svg>
                                                {{end}}
                                            {{end}}
                                        </td>
                                    {{end}}
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                </section>
                <section>
                    <h2>
                        Manage Account
                    </h2>
                    <nav class="flex flex-wrap gap-x-8 gap-y-2">
                        <a href="/auth/reset">
                            Change password
                        </a>
                        <a class="text-red-600" href="/profile/delete">
                            Close account
                        </a>
                    </nav>
                </section>
            </div>
            {{if .Data.Posts}}
                <section class="flex-1">
                    <h2>
                        My Posts
                    </h2>
                    <div class="flex flex-wrap gap-8 sm:gap-12">
                        {{range .Data.Posts}}
                            <a href="/posts/{{.ID}}/{{queryEscape $.Data.Name}}" class="sm:max-w-64 w-full hover:no-underline text-black dark:text-stone-300">
                                <div class="group transition shadow hover:shadow-md bg-white dark:bg-stone-800">
                                    <div class="h-2 bg-beaver-orange border border-beaver-orange"></div>
                                    <div class="p-4 border-x border-b group-hover:border-x-black group-hover:border-b-black dark:group-hover:border-x-stone-600 dark:group-hover:border-b-stone-600">
                                        <h3 class="font-bold">
                                            {{capitalize .Sport}}
                                        </h3>
                                        <div class="flex justify-between items-end mt-2">
                                            <div class="italic">
                                                {{capitalize .SkillLevel}}
                                            </div>
                                            <div class="text-right text-stone-600 dark:text-stone-400">
                                                {{humanDate .CreatedAt}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {{end}}
                    </div>
                </section>
            {{end}}
        </div>
    </main>
{{end}}

{{define "scripts"}}{{end}}
