{{define "title"}}Edit Contacts{{end}}

{{define "main"}}
    <main class="mt-8">
        <h1>
            Edit Contacts
        </h1>
        <table>
            <tbody>
                {{range .Data.Contacts}}
                    <tr>
                        <td class="pr-4 text-stone-600">
                            {{capitalize .Method}}
                        </td>
                        <td class="pr-4">
                            {{.Value}}
                        </td>
                        <td>
                            <form action="/profile/contacts/delete" method="post">
                                <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                                <input type="hidden" name="id" value="{{.ID}}">
                                <button class="rounded sm:hover:ring-2 text-red-600 ring-red-600">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
        <section class="mt-8 max-w-sm w-full">
            <h2>
                Add Contact Method
            </h2>
            <form action="/profile/contacts" method="POST">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="flex">
                    <div class="w-1/4 flex">
                        <select class="w-full px-4 py-2 border rounded rounded-tr-none rounded-br-none bg-stone-100 sm:hover:border-stone-700 sm:hover:cursor-pointer dark:bg-stone-800 dark:sm:hover:border-stone-500" id="contact-method" name="contact-method">
                            {{range .Data.Methods}}
                                <option value="{{.Name}}">{{capitalize .Name}}</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="w-3/4">
                        <input class="w-full p-2 appearance-none border border-l-0 rounded rounded-tl-none rounded-bl-none dark:bg-stone-800" type="text" id="contact-value" name="contact-value" required>
                    </div>
                </div>
                <div class="pt-8">
                    <button class="w-full sm:w-32 py-2 rounded font-bold text-white bg-beaver-orange sm:hover:bg-stone-700">
                        Add
                    </button>
                </div>
            </form>
        </section>
    </main>
{{end}}

{{define "scripts"}}
<script src="/static/scripts/contacts.js"></script>
{{end}}
