{{define "form-skill-level"}}
<div class="md:flex md:items-center mb-6">
    <div class="md:w-2/5">
        <label class="block md:text-right mb-2 md:mb-0 pr-4" for="skill-level">Your Skill Level</label>
    </div>
    <div class="md:w-3/5">
        <select class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-600 dark:focus:border-blue-600" id="skill-level" name="skill-level">
            <option value="1">1 - Beginner</option>
            <option value="2">2 - Novice</option>
            <option value="3">3 - Intermediate</option>
            <option value="4">4 - Advanced</option>
            <option value="5">5 - Expert</option>
        </select>
    </div>
</div>
{{end}}
