{{define "title"}}Reset Password{{end}}

{{define "main"}}
    <section>
        <h1 class="text-2xl font-bold mb-4">
            Reset Password
        </h1>

        <p class="mb-8">
            Enter the email address associated with your account. A link to reset your password will be sent to your email.
        </p>
        
        <form class="w-full max-w-sm" action="/auth/reset" method="POST">
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

            {{template "form-email" .}}

            {{template "form-button" "Submit"}}
        </form>
    </section>
{{end}}
    