{{define "title"}}Create Account{{end}}

{{define "main"}}
    <section>
        <div class="w-full max-w-sm">
            <h2 class="text-2xl font-bold mb-6">
                Create Your Account
            </h2>
        
            <form action="/auth/create" method="POST">
                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        
                {{template "form-name" .}}
        
                {{if not .Page.HasSessionEmail}}
                    {{template "form-email" .}}
                {{end}}
        
                {{template "form-password" .}}
        
                {{template "form-button" "Submit"}}
            </form>
        </div>
    </section>
{{end}}
    