{{define "title"}}Forgot Password{{end}}

{{define "main"}}
    <section class="py-8">
        <div class="w-full max-w-sm">
            <h2 class="text-2xl font-bold mb-6">
                Forgot Password
            </h2>
        
            <form action="/auth/forgot" method="POST">
                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

                {{template "form-email" .}}

                {{template "form-button" "Submit"}}
            </form>
        </div>
    </section>
{{end}}
    