{{define "title"}}Racket Connections{{end}}

{{define "main"}}
<section class="md:flex md:gap-8 mb-4">
    <div class="md:w-3/4">
        <h1 class="inline">Racket Connections </h1>
        <p class="inline">
            is an online board for OSU students interested in playing court sports. Users can create posts, browse each sport board, and reach out to other players.
        </p>
    </div>
</section>

<section class="flex flex-wrap gap-24 justify-center align-middle">
    <div class="w-full max-w-xs">
        <h2 class="text-2xl font-bold mb-6">
            Login
        </h2>

        <form action="/auth/login" method="POST">
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            
            {{template "form-email" .}}
            
            {{template "form-password" .}}
            
            <div class="md:flex md:items-center">
                <div class="md:w-1/4"></div>
                <div class="md:w-3/4">
                    <button class="mr-4 bg-beaver-orange hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" type="submit">
                        Login
                    </button>
                    <a class="inline-block" href="/auth/reset">Forgot Password?</a>
                </div>
            </div>
        </form>
    </div>

    <div class="w-full max-w-xs">
        <h2 class="text-2xl font-bold mb-6">
            Sign Up
        </h2>
        
        <form action="/auth/signup" method="POST">
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            
            {{template "form-email" .}}
            
            {{template "form-button" "Register"}}
        </form>
    </div>
</section>
{{end}}
    