{{define "title"}}Login{{end}}

{{define "main"}}
    <h1>Login</h1>
    <form action="/user/login" method="POST">
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <label>Email: <input type="email" name="email" autocomplete="username" required></label>
        <label>Password: <input type="password" name="password" autocomplete="current-password" required></label>
        <input type="submit" value="Submit">
        <br>
        <a href="/user/forgot">Forgot password?</a>
    </form>

    <h2>Create an account</h2>
    <form action="/user/signup" method="POST">
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <label>Full Name: <input type="text" name="name" autocomplete="name" required></label>
        <label>Email: <input type="email" name="email" autocomplete="username" required></label>
        <label>Password: <input type="password" name="password" autocomplete="new-password" required></label>
        <input type="submit" value="Submit">
    </form>
{{end}}
    