{{define "title"}}Forgot Password{{end}}

{{define "main"}}
    <section>
        <div class="form-container">
            <h2>Forgot Password</h2>
        
            <form class="user" action="/user/forgot" method="POST">
                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                <label>Email: <input type="email" name="email" autocomplete="username" required></label>
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
{{end}}
    