{{define "title"}}Reset Password{{end}}

{{define "body"}}
    {{template "header" .}}
    <main>
        <h1>Reset Password</h1>
        <form action="/user/reset" method="POST">
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            {{if not .Page.HasSessionEmail}}
            <label>Email: <input type="email" name="email" autocomplete="username" required></label>
            {{end}}
            <label>Password: <input type="password" name="password" autocomplete="new-password" required></label>
            <input type="submit" value="Submit">
        </form>
    </main>
{{end}}
    