{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template "title" .}}</title>
    <!-- No style
    <link rel="stylesheet" href="/static/main.css">
    -->
</head>
<body>

    {{if .Flash.Message}}
        <div class="flash flash-{{.Flash.Type}}">
            {{.Flash.Message}}
        </div>
    {{end}}

    <main>
        {{template "main" .}}
    </main>

    {{template "scripts" .}}
</body>
</html>
{{end}}
