{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template "title" .}}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body class="max-w-5xl mx-auto px-4">
    {{with .Flash}}
        <dialog class="max-w-md w-fit p-6 shadow-md rounded-md bg-white backdrop:bg-black/25" id="flash">
            <p>{{.}}</p>
            <form class="flex mt-4 justify-end" method="dialog">
                <button class="focus:outline-none text-gray-600" autofocus>
                    Close
                </button>
            </form>
        </dialog>
    {{end}}
    <header class="flex justify-between items-start py-8">
       <div>
            <h1 class="text-3xl font-bold">
                <a class="text-beaver-orange" href="/">Racket Connections</a>
            </h1>
            {{if .IsAuthenticated}}
            <form action="/auth/logout" method="POST">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <button>Logout</button>
            </form>
            {{end}}
       </div>
    </header>
    <main class="flex flex-col gap-y-8">
        {{template "main" .}}
    </main>
    <footer class="flex flex-wrap gap-y-8 justify-between items-end text-sm text-gray-400 border-t border-gray-200 py-8 mt-24">
        <nav class="flex flex-col justify-end gap-1">
            <a href="/links">Some useful links...</a>
            <a href="/about">About this website</a>
            <a href="https://github.com/micahco/racket-connections">Source Code</a>
        </nav>
        <div>
            <p>&copy; {{.CurrentYear}}. Developed for Oregon State University. All rights reserved.</p>
        </div>
    </footer>
    <script src="/static/script.js"></script>
</body>
</html>
{{end}}
