{{define "title"}}Login{{end}}
{{define "scripts"}}{{end}}
{{define "body"}}
<style>
    label {
        display: block;
    }
</style>
<h1>Login</h1>
<form action="/login/" method="post">
    <label>Email: <input type="email" name="email" autocomplete="username" required></label>
    <label>Password: <input type="password" name="password" autocomplete="current-password" required></label>
    <input type="submit" value="Submit">
</form>

<h2>Signup</h2>
<form action="/signup/" method="post">
    <label>Full Name: <input type="text" name="name" autocomplete="name" required></label>
    <label>Email: <input type="email" name="email" autocomplete="username" required></label>
    <label>Password: <input type="password" name="password" autocomplete="new-password" required></label>
    <input type="submit" value="Submit">
</form>
{{end}}
    