{{define "form-email"}}
<div class="md:flex md:items-center mb-6">
    <div class="md:w-1/4">
        <label class="block md:text-right mb-2 md:mb-0 pr-4" for="email">Email</label>
    </div>
    <div class="md:w-3/4">
        <input class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-600 dark:focus:border-blue-600" type="email" name="email" autocomplete="username" required>
    </div>
</div>
{{end}}
