{{define "header"}}
<header class="flex justify-between items-end gap-2">
    <a class="inline text-2xl font-bold text-beaver-orange" href="/">
        Racket Connections
    </a>
    {{if .IsAuthenticated}}
        <nav class="flex flex-wrap-reverse items-center justify-end gap-6">
            <a href="/profile">Profile</a>
            <form action="/auth/logout" method="POST">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <button class="w-16 py-0.5 text-sm rounded border border-1 border-stone-700 bg-stone-200 hover:bg-stone-300 hover:ring-2 hover:ring-blue-300 dark:bg-stone-800 dark:hover:bg-stone-800">
                    Logout
                </button>
            </form>
        </nav>
    {{end}}
</header>
{{end}}
